.button {
  background-color: rgb(10, 10, 10);
  border: 0px;
  color: white;
  font-size: 25px;
  border-radius: 6px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.buttonbuy {
  background-color: rgb(69, 173, 78);
  border: 0px;
  color: white;
  font-size: 25px;
  border-radius: 6px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.buttonsell {
  background-color: rgb(214, 86, 86);
  border: 0px;
  color: white;
  font-size: 25px;
  border-radius: 6px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.input {
  background-color: rgb(10, 10, 10);
  color: white;
  width: 15em;
  font-size: 1.5em;
  border-radius: 6px;
  border-color: #161616;
}

.textarea {
  background-color: rgb(10, 10, 10);
  color: white;
  width: 35em;
  height: 10em;
  font-size: 1.5em;
  border-radius: 6px;
  border-color: #161616;
}

.inputsymbol {
  background-color: rgb(10, 10, 10);
  color: white;
  width: 5em;
  font-size: 1.5em;
  border-radius: 6px;
  border-color: #161616;
}